@*
    Purpose: 
        Lists out the summary data for all accidents in the database.
        Shows 50 accidents on each page 
        Allows the user to filter the results displayed
*@
@{
    ViewData["Title"] = "View Accidents";
}

@model List<Crash>

    <h3>Below are all the crashes on record for the city of Provo in 2016, 2017 and 2019.</h3>

<!--Display the crashes-->
<div class="accordian" id="crash_accordion">

    <!--Iterate through all of the crashes-->
    @foreach (var c in Model)
    {
    <div class="card card-outline-primary m-1 p-1">

        <!--display the crash id as #id-->
        <div>
            <h4>
                Accident number: @c.CRASH_ID
            </h4>
        </div>

        <!--display the date and time-->
        <div>Date: @c.CRASH_DATETIME</div>

        <!--display the date and time-->
        <div>Time: @c.CRASH_DATETIME</div>

        <!--display the road name-->
        <div>Road: @c.MAIN_ROAD_NAME</div>

        <!--display the city-->
        <div>City: @c.CITY</div>

        <!--identify and display the severity-->
        <div>
            @if (c.CRASH_SEVERITY_ID == 1)
            {
                <span>Accident severity: No Injury</span>
            }
            else if (c.CRASH_SEVERITY_ID == 2)
            {
                <span>Accident severity: Possible Injury</span>
            }
            else if (c.CRASH_SEVERITY_ID == 3)
            {
                <span>Accident severity: Suspected Minor Injury</span>
            }
            else if (c.CRASH_SEVERITY_ID == 4)
            {
                <span>Accident severity: Suspected Major Injury</span>
            }
            else if (c.CRASH_SEVERITY_ID == 5)
            {
                <span>Accident severity: Fatal</span>
            }
            else // this should never be the case
            {
                <span>yeet</span>
            }

            <!--Additional Details-->
            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="collapseOne" aria-expanded="true" aria-controls="collapseOne">
                More Details
            </button>

        </div>
        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="crash_accordion">
            <div class="card-body">

                <!--Display the Route Number-->
                <div>Route number: @c.ROUTE</div>

                <!--Display the Milepoint-->
                <div>Milepoint: @c.MILEPOINT</div>

                <!--Display the Lattitude-->
                <div>Lattitude: @c.LAT_UTM_Y</div>

                <!--Display the Longitude-->
                <div>Longitude: @c.LONG_UTM_Y</div>

                <!--Display the County-->
                <div>County: @c.COUNTY_NAME</div>

                <!--Display Work Zone Related as Yes or No-->
                <div>
                    @if (c.WORK_ZONE_RELATED == true)
                    {
                        <span>Work Zone Related: Yes</span>
                    }
                    else
                    {
                        <span> Work Zone Related: No </span>
                    }
                </div>

                <!--Display Pedestrian Involved as Yes or No-->
                <div>
                    @if (c.PEDESTRIAN_INVOLVED == true)
                    {
                        <span>Pedestrian Involved: Yes</span>
                    }
                    else
                    {
                        <span>Pedestrian Involved:  No </span>
                    }
                </div>

                <!--Display Bicyclist Involved as Yes or No-->
                <div>

                    @if (c.BICYCLIST_INVOLVED == true)
                    {
                        <span>Bicyclist Involved: Yes</span>
                    }
                    else
                    {
                        <span>Bicyclist Involved:  No </span>
                    }
                </div>

                <!--Display Motorcycle Involved as Yes or No-->
                <div>
                    @if (c.MOTORCYCLE_INVOLVED == true)
                    {
                        <span>Motorcylce Involved: Yes</span>
                    }
                    else
                    {
                        <span>Motorcylce Involved:  No </span>
                    }
                </div>

                <!--Display Improper Restraint as Yes or No-->
                <div>
                    @if (c.IMPROPER_RESTRAINT == true)
                    {
                        <span>Improper Restraint: Yes</span>
                    }
                    else
                    {
                        <span>Improper Restraint:  No </span>
                    }
                </div>

                <!--Display Unrestrained as Yes or No-->
                <div>
                    @if (c.UNRESTRAINED == true)
                    {
                        <span>Unrestrained: Yes</span>
                    }
                    else
                    {
                        <span>Unrestrained:  No </span>
                    }
                </div>

                <!--Display DUI as Yes or No-->
                <div>
                    @if (c.DUI == true)
                    {
                        <span>DUI: Yes</span>
                    }
                    else
                    {
                        <span>DUI:  No </span>
                    }
                </div>

                <!--Display Intersection Related as Yes or No-->
                <div>
                    @if (c.INTERSECTION_RELATED == true)
                    {
                        <span>Intersection Related: Yes</span>
                    }
                    else
                    {
                        <span>Intersection Related:  No </span>
                    }
                </div>

                <!--Display Wild Animal related as Yes or No-->
                <div>
                    @if (c.WILD_ANIMAL_RELATED == true)
                    {
                        <span>Wild Animal Related: Yes</span>
                    }
                    else
                    {
                        <span>Wild Animal Related:  No </span>
                    }
                </div>

                <!--Display Domestic Animal related as Yes or No-->
                <div>
                    @if (c.DOMESTIC_ANIMAL_RELATED == true)
                    {
                        <span>Domestic Animal Related: Yes</span>
                    }
                    else
                    {
                        <span>Domestic Animal Related:  No </span>
                    }
                </div>

                <!--Display Overturn Rollover as Yes or No-->
                <div>
                    @if (c.OVERTURN_ROLLOVER == true)
                    {
                        <span>Overturn Rollover: Yes</span>
                    }
                    else
                    {
                        <span>Overturn Rollover:  No </span>
                    }
                </div>

                <!--Display Commercial Motor Vehicle Involved as Yes or No-->
                <div>
                    @if (c.COMMERCIAL_MOTOR_VEH_INVOLVED == true)
                    {
                        <span>Commercial Motor Vehicle Involved: Yes</span>
                    }
                    else
                    {
                        <span>Commercial Motor Vehicle Involved:  No </span>
                    }
                </div>

                <!--Display Teenage Driver Involved as Yes or No-->
                <div>
                    @if (c.TEENAGE_DRIVER_INVOLVED == true)
                    {
                        <span>Teenage Driver Involved: Yes</span>
                    }
                    else
                    {
                        <span>Teendage Driver Involved:  No </span>
                    }
                </div>

                <!--Display Older Drive Involved as Yes or No-->
                <div>
                    @if (c.OLDER_DRIVER_INVOLVED == true)
                    {
                        <span>Older Driver Involved: Yes</span>
                    }
                    else
                    {
                        <span>Older Driver Involved:  No </span>
                    }
                </div>

                <!--Display Night Dark Condition as Yes or No-->
                <div>
                    @if (c.NIGHT_DARK_CONDITION == true)
                    {
                        <span>Night Dark Condition: Yes</span>
                    }
                    else
                    {
                        <span>Night Dark Condition:  No </span>
                    }
                </div>

                <!--Display Single as Yes or No-->
                <div>
                    @if (c.SINGLE_VEHICLE == true)
                    {
                        <span>Single Vehicle: Yes</span>
                    }
                    else
                    {
                        <span>Single Vehicle:  No </span>
                    }
                </div>

                <!--Display Distracted Driving as Yes or No-->
                <div>
                    @if (c.DISTRACTED_DRIVING == true)
                    {
                        <span>Distracted Driving: Yes</span>
                    }
                    else
                    {
                        <span>Distracted Driving:  No </span>
                    }
                </div>

                <!--Display Drowsy Driving as Yes or No-->
                <div>
                    @if (c.DROWSY_DRIVING == true)
                    {
                        <span>Drowsy Driving: Yes</span>
                    }
                    else
                    {
                        <span>Drowsy Driving:  No </span>
                    }
                </div>

                <!--Display Roadway Departure as Yes or No-->
                <div>
                    @if (c.ROADWAY_DEPARTURE == true)
                    {
                        <span>Roadway Departure: Yes</span>
                    }
                    else
                    {
                        <span>Roadway Departure:  No </span>
                    }
                </div>
            </div>
        </div>
    </div>
    }
</div>


